

services:
  backend:
    build: ./backend
    container_name: rag_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/chroma_db:/app/chroma_db
      - ./backend/chat_history.db:/app/chat_history.db
      - ./cv:/cv
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: rag_frontend
    ports:
      - "3000:3000"
    restart: unless-stopped
    depends_on:
      - backend

volumes:
  chroma_db:
